<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yk.silence.customwallpaper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".constance.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".widget.activity.SplashActivity"
            android:theme="@style/translation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.CustomWallService"
            android:permission="android.permission.BIND_WALLPAPER"
            android:process=":wallpaper">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/customwallpaper" />
        </service>

        <activity android:name=".widget.activity.MainActivity" />
        <activity android:name=".ui.mediapicture.activity.ImageSelectActivity" />
        <activity android:name=".ui.mediapicture.activity.VideoSelectActivity" />
        <activity android:name=".widget.activity.SettingActivity" />
        <activity android:name=".widget.activity.AppActivity" />
        <activity android:name=".widget.activity.FileActivity" />

        <service
            android:name=".service.WebService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/install_file" />
        </provider>

        <activity android:name=".widget.activity.TimeLineDetailActivity" />
        <activity android:name=".widget.activity.UIActivity" />

        <service
            android:name=".service.DownloadService"
            android:exported="false" />

        <activity android:name=".widget.activity.StoryDetailActivity" />
        <activity android:name=".widget.activity.MyselfActivity" />
        <activity android:name=".widget.activity.ContactActivity" />
        <activity android:name=".widget.activity.AddContactActivity" />
        <activity android:name=".widget.activity.ContactListActivity" />
        <activity android:name=".widget.activity.EditNickNameActivity"></activity>
    </application>

</manifest>